<div class="item mb-3">
                    <div class="img__wrap">
  <img class="img__img" src="{{ asset('/uploads/images/' ~image.imageName)}}" alt="{{image.title}}" />
  <p class="img__description">{{image.title}}</p>
</div>
                    </div>