{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %} 
         
         <link rel="stylesheet" href="{{ asset('assets/css/homeStyle.css') }}">
{% endblock %}
{% block body %}
<div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 m-2">
<div class=" border-bottom">
    <h1 class="text-white my-3 mx-md-5 mx-auto">Le Quai Antique</h1>
</div>


    
    <div class="col">
    <div class="masonry">
    {% for image in images %}
    {% include'home/_image.html.twig' %}
    {% endfor %}
    </div>
    </div>
    </div>

{% endblock %}
