<div class="card m-1 text-center">


<div class="card-body">
<h5 class="card-title">{{meal.title}}</h5>
<p class="text-muted fst-italic">({{meal.note}})</p>
<p class="card-text">{{meal.description}}</p>
<p class="card-text fw-semibold">{{meal.price}} €</p>
</div>

        
        </div>
