{% extends 'base.html.twig' %}

{% block title %}Hello MenusController!{% endblock %}
 {% block stylesheets %} 
         <style>
            .grid {
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            
            }   
         }
         
         </style>
        {% endblock %}
{% block body %}

    <div class="d-flex flex-column  flex-grow-1">
    <div class="m-3 border-bottom">
    <h1 class="text-white my-3 mx-md-5 mx-auto">Nos plats</h1>
    </div>
    <div class="grid text-center m-3">
    
    
    
    {% for combo in combos %}
    <div class="text-center bg-dark p-2 ">
        <h3>{{combo.title}}</h3>
        {% for meal in combo.meals %}
        {% include 'menus/_card.html.twig'%}
        {% endfor %}
        </div>
    {% endfor %}
    
    </div>
    </div>

{% endblock %}
