{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
<div class="d-flex flex-column  flex-grow-1">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="text-white my-3 mx-md-5 mx-auto">
     Réinitialiser votre mot de passe</h1>
<div class="bg-dark p-3 mx-3 my-auto align-self-center">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="my-3">
            <small>
                Entrer votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer le lien de réinitialisation de mot de passe </button>
    {{ form_end(requestForm) }}
</div>
</div>
{% endblock %}
