html, body{
  min-height: 100%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* The Masonry Container */


/* The Masonry Brick */
.item {
  background: #fff;
  
  
}

/* Masonry on large screens */
@media only screen and (min-width: 1200px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 1;
  }
}

img { /* Masonry image selector */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* relevant styles */
.img__wrap {
  position: relative;
}

.img__img{
	opacity: 0.9;
}

.img__description {
  position: absolute;

  top:0;
  right: 0;
	padding : 0  10px;
	height: 30px;
  font-size: 20px;
	font-weight: bold;
	background-color:rgba(76, 102, 130, 0.8);
  color: white;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__img:hover{
	transform: scale(1.02);
	transition: 0.5s;
	opacity: 1;
}

.img__wrap:hover .img__description {
	transform: translateX(-50%);
	transition: 0.5s;
  visibility: visible;
  opacity: 1;
}

