
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  min-height: 100%;
  color: white;
}

body{
  background-image: url(../background/bg-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fullsize {
  min-height: 100%;
}

.display-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}