
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  min-height: 100%;
  
}
body{
  min-height: 100vh;
  color: white;
}

body{
  background-image: url(../background/bg-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  color: black;
}

.fullsize {
  min-height: 100%;
}

.display-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}

#sticky-footer {
  flex-shrink: none;
  position: sticky;
}