{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>
    <p>Ce site est édité par Thibault Rossa, à titre personnel et éducatif.</p>
    <p>Le site est hébergé par [nom de l'hébergeur], société [forme juridique] au capital de [montant du capital social] euros, immatriculée au RCS de [ville d'immatriculation] sous le numéro [numéro d'immatriculation], dont le siège social est situé au [adresse du siège social].</p>
    <h2>Protection des données personnelles</h2>
    <p>Les informations recueillies sur ce site sont destinées à Thibault Rossa et ne seront pas transmises à des tiers. Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Vous pouvez exercer ce droit en nous contactant à l'adresse suivante : thibault.studi@gmail.com.</p>
    <h2>Conditions générales d'utilisation</h2>
    <p>En utilisant ce site, vous acceptez les conditions générales d'utilisation suivantes :</p>
    <ul>
        <li>Vous êtes responsable de la confidentialité de votre compte et de votre mot de passe.</li>
        <li>Vous ne pouvez pas utiliser ce site à des fins illégales ou frauduleuses.</li>
        <li>Vous ne pouvez pas utiliser ce site pour envoyer des spams ou des messages non sollicités.</li>
        <li>Vous ne pouvez pas utiliser ce site pour collecter des informations sur d'autres utilisateurs.</li>
        <li>Vous ne pouvez pas utiliser ce site pour violer les droits de propriété intellectuelle d'autrui.</li>
    </ul>
{% endblock %}