{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <h1>Politique de confidentialité</h1>
    <p>Cette politique de confidentialité décrit comment Thibault Rossa collecte, utilise et protège les informations que vous nous fournissez lorsque vous utilisez ce site.</p>
    <h2>Collecte d'informations</h2>
    <p>Nous collectons les informations que vous nous fournissez lorsque vous créez un compte, effectuez une réservation ou utilisez d'autres fonctionnalités de ce site. Les informations que nous collectons peuvent inclure votre nom, votre adresse e-mail, votre numéro de téléphone, votre adresse postale et d'autres informations personnelles.</p>
    <h2>Utilisation des informations</h2>
    <p>Nous utilisons les informations que vous nous fournissez pour traiter vos réservations, améliorer notre service clientèle et personnaliser votre expérience sur ce site. Nous pouvons également utiliser ces informations pour vous contacter à propos de promotions, de nouveaux produits ou de tout autre sujet qui pourrait vous intéresser.</p>
    <h2>Protection des informations</h2>
    <p>Nous prenons des mesures de sécurité appropriées pour protéger les informations que vous nous fournissez contre tout accès non autorisé, toute modification, divulgation ou destruction. Nous ne vendons ni ne louons vos informations personnelles à des tiers.</p>
    <h2>Cookies</h2>
    <p>Ce site utilise des cookies pour améliorer votre expérience utilisateur. Les cookies sont des fichiers texte placés sur votre ordinateur pour collecter des informations standard de journalisation d'Internet et des informations comportementales. Vous pouvez choisir de refuser les cookies en modifiant les paramètres de votre navigateur.</p>
    <h2>Modification de la politique de confidentialité</h2>
    <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Nous vous encourageons à consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</p>
{% endblock %}