{% extends 'base.html.twig' %}

{% block title %}Nos plats {% endblock %}
 {% block stylesheets %} 
         <style>
            .grid {
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;   
         }
         .searchForm {
            display: block;
            position : sticky;
            top: 3rem;
         }
         </style>
        {% endblock %}
{% block body %}
<div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 fullsize js-filter">
<div class="m-3 border-bottom">
<h1 class="text-white my-3 mx-md-5 mx-auto">Nos plats</h1>
</div>
    <div class="row m-3">
    
        <div class="col-md-2">
            {% include 'la_carte/_filter.html.twig' with {form : form, min: min, max: max} only %}

        </div>
        <div class="col-md-10">
        <div class="d-flex justify-content-end m-2 js-filter-sorting">
        {% include 'la_carte/_sorting.html.twig' %}
        </div>
            
                <div class="grid js-filter-content">
                    {% include 'la_carte/_dishes.html.twig' %}
                </div>
                
            <div class="mt-4 js-filter-pagination">
                
                    {% include 'la_carte/_pagination.html.twig' %}
                </div>
        </div>
        
    </div>
    
</div>


{% endblock %}
